<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">PORTFOLIO</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelection('profile')">Profile</a></li> <!--(click)="onSelection('profile')"-->
                <li><a href="#" (click)="onSelection('cv')">CV</a></li> <!--(click)="onSelection('cv)"-->
            </ul>
        </div>
    </div>
</nav>